<!DOCTYPE html>
<html lang="ja">
<head>
	<title>HERMES新着通知</title>
	{% include "_header.html" %}
</head>
<body>
	<div class="bg-white min-h-full">
		<div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8">
			<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">HERMESの新商品を見逃さない<br>あなたの新しい出会いを強力にサポート</h2>
			<p class="mt-6 text-lg leading-8 text-gray-600">『HERMES新着通知』を使えば、新しいプロダクトに素早く気づけます。LINE に通知されるため見逃しません。<a class="underline underline-offset-1" href="https://www.hermes.com/jp/ja/category/women/bags-and-small-leather-goods/bags-and-clutches/">レディス>バッグ＆クラッチバッグ</a>をサポートしています。</p>
			<div class="mt-10 flex items-center gap-x-6">
				<a href="{{login_url}}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
					LINEでログインしてはじめる
					<svg class="inline flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
